version: "3.8"

services:
  app:
    container_name: image-verification-service-prod

    build:
      context: .
      dockerfile: Dockerfile.prod

    command: >
      uvicorn app.main:app
      --host 0.0.0.0
      --port 8000
      --workers 4

    ports:
      - "7000:8000"

    environment:
      PYTHONUNBUFFERED: 1
      PYTHONDONTWRITEBYTECODE: 1

    restart: always
